body {
    padding-top: 55.6px;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    color: white;
    background-image: url('../img/background.png');
    background-color: #1F1F1F;
    text-align: center
}

.container {
    padding: 3rem 1.5rem;
    display: inline-block
}

.bg-dark {
    text-align: center;
    text-shadow: 0 0 4px #aaa;
    background: linear-gradient(#6967ef, #3230bc);
    box-shadow: 0px 0px 35px black;
}

strong, h1, a, .titre {
    color: #4D4BD5
}

a:hover {
    color: #3230bc;
    text-decoration: none;
}

.box {
    position: relative; 
    background-color: #1F1F1F;
    border: 2px solid  #333;
    border-radius: 5px;
    box-shadow: 1px 0px 11px #0e0e0e
}

.post{
    padding: 15px;
    margin-bottom: 30px;
    
}

.postContent-index{
    font-size: 15px;
}

.postContent-single{
    font-size: 15px;
    padding-bottom: 30px;
    text-align: left;
    color: red;
}

.post-titre{
    text-align: left;
    text-decoration: none;
}

.post-date{
    
    font-size: 12px;
    color: #aaa;
    text-align: right;
}